/* @import "tailwindcss"; */

/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Public Sans', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  height:100%
  /* background-color: aquamarine; */
}

.layout {
  height: 100%;
  background-image: linear-gradient(to bottom,#dbeafe, #bae6fd, white);

}

.navbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.logo {
  font-size: 16px;
  font-weight: 600;
}

.links {
  display: flex;
  gap : 24px;
  align-items: center;
} 

.link-items {
  font-size: 14px;
  color: #525252;
  text-decoration: none;
  font-weight: 550;

}

.link-items:hover {
  color: black;
  transition: color 0.2s ease-out;
} 

.btn {
  all: unset;
  font-size: 16px;
  padding: 8px 14px;
  text-align: center;
  background-color: #2679f3;
  border-radius: 6;
  color: #FFFFFF;
  /* font-weight: 500; */
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 2px 4px rgba(30, 31, 37, 0.38);
  cursor: pointer;
}

.btn:hover{
  background-color: #1d4ed8;
}

.badge {
  padding: 4px 12px;
  background-color: #f4f4f5;
  max-width: 160px;
  width: fit-content;
  border-radius: 14px;
  font-size: 14px;
  margin: 0 auto;
  border: solid 0.5px #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

/* .badge span {
  font-weight:bo
} */

.badge:hover {
  background-color: #e7e5e4;
  transition: all 0.2s ease-out;
}

.hero-root {
  padding: 30px 0px;
}

.hero-title {
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.2px;
  line-height: 1.1;
  margin-top: 50px;
}

.hero-des {
  /* max-width: 520px;
  display: flex;
  justify-content: center;
  align-items: center; */
  /* margin-top: 20px; */
  text-align: center;
  color: #71717a;
  letter-spacing: 1;
  line-height: 1.3;
  font-size: 18px;
  max-width: 700px;
  margin: 20px auto;
}

.hero-cta {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.btn1 {
  all: unset;
  font-size: 16px;
  font-weight: 550;
  padding: 8px 14px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 4px;
  /* background-color: #dbeafe; */
  /* border-radius: 6; */
  color: #374151;
  /* font-weight: 500; */
  /* text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16); */
  /* box-shadow: 0px 2px 4px rgba(30, 31, 37, 0.38); */
  cursor: pointer;
   /* border: solid 0.5px #e5e5e5; */
  border-radius: 6px;
  transition: background-color 0.2s ease, color 0.2s ease;


}

.btn1:hover {
  /* background-color: #94a3b8; */
  /* opacity: 0.07; */
  /* color: #0f172a; */
  background-color: rgba(15, 23, 42, 0.07);
}

.left-line {
  position: absolute;
  /* background-color: #1d4ed8; */
  height: 100%;
  width: 1px;
  left: -20px;
  background: linear-gradient(to bottom, #9ca3af,#9ca3af, #fafafa);
  opacity: 0.2;
}

.right-line {
  position: absolute;
  background: linear-gradient(to bottom,#9ca3af,#9ca3af,  #fafafa);
  /* background-color: #1d4ed8; */
  width: 1px;
  height: 100%;
  right: -20px;
  opacity: 0.2;
}

.horizontal-line {
  position: absolute;
  background: linear-gradient(to bottom,#9ca3af,#9ca3af,  #fafafa);
  /* background-color: #1d4ed8; */
  width: 100%;
  height: 1px;
  top: -20px;
  opacity: 0.2;
}

.layout-lines-container {
  max-width: 1000px;
  margin: 0 auto;
  position: absolute;
  inset: 0;
  height: 160%;
  
}

.hero-image-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 60px auto;
  /* align-items: center; */
  /* max-width: 400px; */
}

.hero-image {
  width: 950px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  object-position: top left;
}